###### Problem statement: Data Analytics II

1. Implement logistic regression using Python/R to perform classification on
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall
on the given dataset.

In [1]:
import pandas as pd
df= pd.read_csv('Social_Network_Ads.csv')

In [2]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
#transform categorical variable Gender into quantative for further processing

from sklearn import preprocessing
label_encoder= preprocessing.LabelEncoder()
df['Gender']=label_encoder.fit_transform(df['Gender'])
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

##### Create training and testing datasets

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x= df.drop("Purchased", axis='columns')
y=df.Purchased

In [7]:
X_train, X_test, y_train, y_test= train_test_split(x,y,test_size=0.2, random_state=0)

##### Train Logistic regression model

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
logreg= LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

##### Predict values for Purchased attribute

In [10]:
y_pred= logreg.predict(X_test)
print(y_pred)

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 1]

In [11]:
print(y_test)

132    0
309    0
341    0
196    0
246    0
      ..
14     0
363    0
304    0
361    1
329    1
Name: Purchased, Length: 80, dtype: int64

##### Check model accuracy

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [13]:
#print confusion matrix
cm= confusion_matrix(y_test, y_pred)

In [14]:
cm

array([[56,  2],
       [12, 10]])

In [15]:
accuracy= accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='micro')
recall= recall_score(y_test, y_pred, average='micro')

In [16]:
print(accuracy)

0.825

In [17]:
print(precision)

0.825

In [18]:
print(recall)

0.825